{% extends 'faq/base.html.twig' %}

{% block title %}FAQ
{% endblock %}

{% block body %}
	<h1>Comment pouvons nous vous aidez ?</h1>
	
    <img src="https://cdn.pixabay.com/photo/2018/05/17/11/20/faq-3408300_640.jpg" alt="faq">
  
    
{% endblock %}