<body>
    <h1>Le jardin : {{garden.title}} a été bien pris en compte !</h1>
    <p>Votre jardin est cours de modération, vous pouvez désormais le voir sur le site directement. Toutefois, votre jardin sera étudié pour savoir s'il respect notre charte.</p>
    <p>L'équipe O'potager vous remercie pour votre participation collaborative !</p>     
    <a href="{{ url ("app_back_garden_show",{id:garden.id} )}}">Voir votre jardin</a>
</body>