<form method="post" action="{{ path('app_back_garden_delete', {'id': garden.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer l\'annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garden.id) }}">
    <button class="btn btn-danger col-12">Supprimer</button>
</form>
